.background {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#form {
  margin-top: 20px;
}

.btn,
.btn2 {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn2 {
  background-color: #f44336;
}

.btn:hover,
.btn2:hover {
  background-color: #45a049;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
